<h1 class="hola">Hello, Nnodes!</h1>


<div class="game-container">
	<div class="players-container">

		<p>Resultado última ronda: <%=@color.to_s%></p>
		<p># Ronda: <%=@rondas%></p>

		<p>Pronóstico del Tiempo: <%=@pronostico%></p>

		<table class="table game">
		    <thead>
		      <tr>
		        <th>Name</th>
		        <th>Balance</th>
		        <th>Last Bet</th>
		        <th>Last Turn Earnings</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<% @apuestas.each do |a| %>
			      <tr class="success">
			        <td>	<%=a.player.name%>	</td>
			        <td>	<%=a.player.money%>	</td>
			        <td>	<%=a.color%>	</td>
			       	<td>	<%=a.getResult(@color)%>	</td>
			      </tr>
			    <% end %>
		    </tbody>
		</table>

	</div>

		 <%= link_to 'Add Player', new_player_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal', 'data-backdrop' => "false", 'data-keyboard' => "false"}  %>  

	<div class="action-container">
         <%= link_to 'Add Player', player_index_path  %>   
	</div>

	
            
</div>



<div class="weather-container">
	<div class="forecast-container">

		<p>Weather Forecast, Upcoming 7 Days</p>

		<table class="table weather">
		    <thead>
		      <tr>
		        <th>Day</th>
		        <th>Forecast</th>
		      </tr>
		    </thead>
		    <tbody>
			    	<% @clima[0..6].each do |c| %>
				      <tr class="success">
				        <td>	<%=c.day%>	</td>
				        <td>	<%=c.text%>	</td>
				      </tr>
				    <% end %>
		    </tbody>
		</table>

	</div>

            
</div>








